.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.idea/workspace.xml

# Cache of project
.gradletasknamecache

*.jar

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
.DS_Store
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/build/distributions/sandbox.tar
sandbox/build/scripts/sandbox
sandbox/build/libs/sandbox.jar
sandbox/build/distributions/sandbox.zip
sandbox/build/scripts/sandbox.bat
.bash_profile.swp
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
*.class
sandbox/build/test-results/test/TEST-ru.stqa.pft.sandbox.EquationTests.xml
sandbox/build/reports/tests/test/packages/ru.stqa.pft.sandbox.html
sandbox/build/reports/tests/test/index.html
sandbox/build/reports/tests/test/css/style.css
sandbox/build/reports/tests/test/css/base-style.css
sandbox/build/reports/tests/test/classes/ru.stqa.pft.sandbox.EquationTests.html
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/build/tmp/test/jar_extract_9188739849778868177_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9045197126707772189_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8892168874213588748_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9133938515797233580_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8638193440032550058_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8448616112223647874_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7941264053821761342_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7566638704119370514_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7972421313981872143_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7436984657309001687_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7014895496720045733_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8065891870490777810_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6784892289929469429_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6669998922268134117_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6673360566546346675_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5899653202461975209_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5854800134591401433_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5802830547071338630_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5626022202074959126_tmp
addressbook-web-tests/build/tmp/test/jar_extract_540972429697873248_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5377193437848411663_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5219142977450526417_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5211329874454269351_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5190495482161362053_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5061035894743464908_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4958799832053289542_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4942731105810469775_tmp
addressbook-web-tests/build/tmp/test/jar_extract_468056752313811748_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6010238214064487606_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4383826340920383596_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4509673288687605968_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6634076742793830664_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3817432460656096199_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3746971589795149116_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3467703707217480730_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3460161541258380492_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3440420274765313234_tmp
addressbook-web-tests/build/tmp/test/jar_extract_338570520347296242_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3201332161375450859_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3317925663559179279_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3053099334380340626_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2992953160001553017_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2821819245943306212_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2820007796367764407_tmp
addressbook-web-tests/build/tmp/test/jar_extract_27717196758426110_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2724556704462198906_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2695847994577774983_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2627557011646935442_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2325362263582518621_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2303195815690985342_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2127728541744140909_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2120249304309576558_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2022573830939071604_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1980092655376141971_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1880905871031205481_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1767280463345160612_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1703518693336880019_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8091812539519302067_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7008003544254121216_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4131350682041831707_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6990659114885844310_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8520730690949831874_tmp
addressbook-web-tests/build/tmp/test/jar_extract_823799203482491574_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1688962807677780715_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1524339882445310548_tmp
addressbook-web-tests/build/tmp/test/jar_extract_293469580367382760_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1139714986863120984_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8596800256129972163_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8817487458982109795_tmp
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.GroupCreationTests.xml
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
addressbook-web-tests/build/tmp/test/jar_extract_1099368712919754416_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1057845380767785937_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1150300071140221506_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1171566645686977360_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1806798044940407331_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1808641008717141193_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2146215335932958306_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2759666016189385715_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2476131113407812449_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3013901282004579140_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3451624584954948583_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3550433685760284995_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3863392934205032986_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3973810364223631775_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3742270630101493961_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3725596641418417476_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4060465354984554016_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4349313225000000054_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5227626484361815141_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5028262756165378765_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4081323651507464986_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5615679149606241677_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5225224499628894141_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5620191601807846646_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6023581933171540909_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6733963435939765816_tmp
addressbook-web-tests/build/tmp/test/jar_extract_650381759276930611_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6093935805163299033_tmp
addressbook-web-tests/build/tmp/test/jar_extract_710991355477571438_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6783784641267002320_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1394286659214101719_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1739677087338005279_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1950700433729999843_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1808975397589924547_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2295799916413412438_tmp
addressbook-web-tests/build/tmp/test/jar_extract_248060743639733763_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1783030902097969898_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3196474106547481460_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3320371205211754483_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3194704121172688265_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4418024869489428668_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3525005585596506990_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4966842353801400754_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5240569245253169783_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5097723487349112205_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5243343953347450486_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5304086773587816517_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5563872653456166924_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5721418459098567472_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7671831947133563857_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7486771691774847751_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7773408216037195255_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3396884364888144004_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7776565157145765434_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7744065555537802642_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7812928054059808555_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7931424194734589696_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7982544193113900033_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8138551425166441240_tmp
addressbook-web-tests/build/tmp/test/jar_extract_819272401944536774_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2576045680712932240_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8265997833226971314_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8309663589279873007_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8467643859845379537_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8590006628789618329_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9171540654120232329_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8572107214591546249_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8285359281732995098_tmp
addressbook-web-tests/build/tmp/test/jar_extract_998752983271699947_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7414969315806709853_tmp
*.html
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.AddNewContact.xml
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
*.class
*.class
*.class
addressbook-web-tests/build/tmp/test/jar_extract_1078745229274443290_tmp
*.bin
addressbook-web-tests/build/tmp/test/jar_extract_110768409805424939_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1151830768184257044_tmp
addressbook-web-tests/test-20210310T195957
addressbook-web-tests/test-20210310T200013
addressbook-web-tests/test-20210313T160210
addressbook-web-tests/test-20210313T160330
